.container {

  .members-container {
    border-top: 7.5px solid @teal;
    display: flex;
    flex-wrap: wrap;

    div {
      width: 50%;

      h3, p {
        width: 75%;
        text-align: center;
      }

      h3 {
        font-weight: bold;

        @media @smalltablet {
          font-size: 2.25rem;
        }

        @media @phone {
          font-size: 1.75rem;
        }
      }

      p {
        @media @smalltablet {
          font-size: 1.4rem;
        }
        
        @media @phone{
          font-size: 1.25rem;
        }
      }

      img {
        border: 1px solid @navy;
        border-radius: 200px;
        margin: 2%;
        width: 75%;
      }
    }
  }
  .team-member {
    padding: 2%;
  }
}