.container {

  header {
    display: flex;
    flex-direction: column;
    // align-items: center;

    h1 {
      font-size: 8rem;
      padding-bottom: 3%;
    }

    div {
      display: flex;
      
      .p-btn {
        flex-direction: column;
        width: 40%;

        .p {
          flex-direction: column;
          
          p {
            font-size: 1.75rem;
            padding: 4% 2% 4% 2%;
          }
        }
        .signup-btn {
          display: flex;
          padding: 1% 0 1% 25%;

          button {
            
            .bttn(50%, 3%, 0px);
          }
        }
      }
      
      .img {
        width: 60%;

        img {
          border: 2px solid @off-white;
          border-radius: 15px;
        }
      }
    }
  }

  section {
    margin: 2% 0;
    div {
      display: flex;
      
      img {
        margin: 2% 1%;
        border: 2px solid @off-white;
        border-radius: 15px;
      }
    }
  }
}